* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(81px * 8);
  height: calc(81px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 81px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 64px;
  height: 64px;
  position: relative;
}

.black {
  background-color: deepskyblue;
}

.white {
  background-color: #eed4ac;
}

.selected {
  background-color: brown;
}

.available {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: green;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgrey;
}